[BUG] OIDC UserInfo Authelia issue

## Bug Description
I was testing OIDC setup with Authelia and got a weird issue. Instead of matching an existing user, a new user was created with a UUID as a username. 

After some digging, I found that it's happening because of a specific set of circumstances: 
1. Authelia sends a bare `id_token` (example follows)
2. Shelfmark tries to request [`userinfo`](https://github.com/calibrain/shelfmark/blob/a50b43538a95a490b85f884f5357a2a289206b17/shelfmark/core/oidc_routes.py#L160-L166), **but sets the wrong query param of `token`, instead of `access_token`**
3. Authelia doesn't see an `access_token` query param and replies with `{}`
4. Shelfmark sees `{}` from userinfo and falls back to `id_token`, which only has `sub` (UUID)



## Steps To Reproduce
1. Set up Authelia OIDC
2. Create a user in Shelfmark
3. Set up Authelia as an IdP in Shelfmark
4. Log in using Authelia
5. Find yourself as a random UUID user

## Expected Behavior
Userinfo request should follow the spec.

## Debug Information
```
shelfmark[2684128]: 2026-02-20 22:19:07,713 - shelfmark.core.external_user_linking - INFO - external_user_linking.py:229 - External user mapped to existing Shelfmark user (source=oidc, context=oidc_login, reason=subject_match, external_username=8be727aa-94d5-4227-a9db-9404cc476e31, shelfmark_user_id=2, shelfmark_username=8be727aa-94d5-4227-a9db-9404cc476e31)
shelfmark[2684128]: 2026-02-20 22:19:07,714 - shelfmark.core.oidc_routes - INFO - oidc_routes.py:202 - OIDC login successful: 8be727aa-94d5-4227-a9db-9404cc476e31 (admin=False)
```

## Environment Information
Container version v1.1.0

## docker-compose
N/A

## Additional Context

### Spec
According to the [OpenID spec](https://openid.net/specs/openid-connect-core-1_0.html#UserInfoRequest): 
>  The Access Token obtained from an OpenID Connect Authentication Request MUST be sent as a Bearer Token, per Section 2 of OAuth 2.0 Bearer Token Usage [RFC6750]

And according to the [Section 2 of RFC6750](https://www.rfc-editor.org/rfc/rfc6750.html#section-2), the token must be sent as one of:
- `Authorization: Bearer` header
- `access_token` Form-Encoded Body Parameter
- `access_token` query parameter. 

### Authelia 

#### Example API calls:

```
❯ curl "https://authelia.example.tld/api/oidc/userinfo?token=authelia_at_xAf3KlcOt-qxPNFSqPl2za3LyPBMdfCSHChnhP7yTWo.XXXXXXXXXXXXXXXXXX"
{}
```

```
❯ curl "https://authelia.example.tld/api/oidc/userinfo?access_token=authelia_at_xAf3KlcOt-qxPNFSqPl2za3LyPBMdfCSHChnhP7yTWo.XXXXXXXXXXXXXXXXXX"
{"email":"XXXXXXX","email_verified":true,"groups":["Admins"],"name":"XXXXXXX","preferred_username":"XXXXXXX","rat":1771596580,"sub":"8be727aa-94d5-4227-a9db-9404cc476e31","updated_at":1771599913}
```

#### Example id_token

<details>
  <summary>Example decoded Authelia id_token</summary>

```json
{
  "amr": [
    "pwd",
    "kba"
  ],
  "at_hash": "eTnabDZ55E07rtpBtIz_tg",
  "aud": [
    "7NpGbygzOOqr6rvO5QLrBbxRov1aYztjmGaqaubBdG.dPEGxBMsSvS.lCyZzQiG_wg_ukCvN"
  ],
  "auth_time": 1771595317,
  "azp": "7NpGbygzOOqr6rvO5QLrBbxRov1aYztjmGaqaubBdG.dPEGxBMsSvS.lCyZzQiG_wg_ukCvN",
  "exp": 1771600194,
  "iat": 1771596594,
  "iss": "https://authelia.example.tld",
  "jti": "470082d9-0cea-46a1-b68f-247231e9d38b",
  "nonce": "m0ZrhSYusuBC8BdoIF8S",
  "sub": "8be727aa-94d5-4227-a9db-9404cc476e31"
}
```

</details>

Ah, you're right!
I thought Authlib attaches `kwarargs` verbatim as `params` in [`userinfo`](https://github.com/authlib/authlib/blob/a9e4cfee51dffb4c521afa7321a36338ea7d2afd/authlib/integrations/base_client/sync_openid.py#L34), but it looks like `token` is indeed a separate and valid argument in the underlying [`request`](https://github.com/authlib/authlib/blob/a9e4cfee51dffb4c521afa7321a36338ea7d2afd/authlib/integrations/base_client/sync_app.py#L19-L20).

Anyway, with `dev` container, everything works now, and I can see requests to `userinfo` endpoint in Authelia. Thanks!

Closed by https://github.com/calibrain/shelfmark/pull/632